*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arvo', serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: black;
}
.section{
    padding: 2%;
    background: #fff;
    border-radius: 20px;
}
.heading{
    font-size: 48px;
    color: #000;
}
#color-picker{
    width: 35%;
    display: flex;
    margin: 10px auto;
    padding: 5px;
    background: none;
    border-radius: 5px;
}
