@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

body{
    font-family: 'Arvo', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #111111;
    color: #fff;
}

.heading{
    padding-bottom: 50px;
    font-size: 2rem;
}

.input-box {
    position: relative;
    width: 400px;
    border-radius: 10px;
    background: #fff;
    z-index: 1000;
}

.input-box input{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 20px 0 20px;
    padding: 0 20px;
    border: none;
    color: #000;
    font-size: 24px;
    letter-spacing: 3px;
    text-align: center;
    outline: none;
}

.btn{
    position: relative;
    margin-top: 50px;
    padding: 15px;
    background: #9cc030;
    border-radius: 10px;
    color: rgb(13, 13, 13);
    font-size: 24px;
    cursor: pointer;
}
#btn:active{
    background: #fff;
    color: #000;
}