body{
    margin: 0%;
    padding: 0%;
    background: rgb(244, 151, 151);
}
.container{
    font-family: "Arial", Helvetica, sans-serif;
    padding: 30px;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    border: 5px solid black;
    transform: translate(50%, -50%);
    font-size: 100px;
    white-space: nowrap;
}